header {
	text-align: right;
	font-size: 10pt;
}

.divider {
	margin:auto;
	width: 15%;
	border-bottom: 2px dashed black;
}

.contents {
	text-align: center;
}

footer {
	position: absolute;
	bottom: 0;
	font-size: .85em;
}

.title {
	text-align: center;
}
