body {
	background: black;
	color: #00FF00;
	font-family: monospace;
	font-size: 12pt;
}

a {
	color: inherit;
}

.contents > a::before {
	content: "> ";
}

.contents > a {
	text-decoration: inherit;
}

#term-theme {
	text-decoration: inherit;
	color: inherit;
	cursor: auto;
}

.divider {
	border-bottom-color: #00FF00;
}
